* {
    margin: 1px;
    padding: 0;
}

.header {
    background: #e7d98a;
}

.navbar-toggler .fa{
    font-size: 30px;
    cursor: pointer;
}

.overview {
    background-color: #f3ebbe;
    padding-left: 30px;
    padding-right: 100px;
}

.overview h3, h4 {
    font-family: cursive;
}

.overview p{
    margin-left: 2%;
}

.overview ol{
    margin-left: 3%;
}

.footer {
    background: #e7d98a;
    vertical-align: baseline;
    align-items: justify;
    padding-top: 8px;
    padding-bottom: 0.1px;
}

.footer p{
    text-align: center;
}
